@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <form method="post" action="/Home/Login">
            <div class="form-group">
                <pre></pre>
                <pre></pre>

                <input type="text" placeholder="Email" class="form-control" name="Email" <div class="form-group">
                <pre></pre>

                <input type="password" placeholder="Password" class="form-control" name="Password" </div>
                <pre></pre>

            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
</div>
